@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.Titulo{
    font-family: Rubik Wet Paint ;
    text-align: center;
    margin-top: 15%;
}

.Datos{
    text-align: center;
}